{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://github.com/VictorMelkor" target="_blank">
            <img src="{% static 'assets/ícones/1x/github.svg' %}" alt="ícone github" width="20" height="20">
        </a>
        <a href="https://www.instagram.com/victormelkor/" target="_blank">
            <img src="{% static 'assets/ícones/1x/instagram.png' %}" alt="ícone instagram" width="20" height="20">
        </a>
    </div>
    <p class="rodape__texto">
        <span style="font-weight: bold;">&#169; Desenvolvido por Victor Rodrigues</span>
    </p>
    
</footer>
