{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://github.com/VictorMelkor" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" alt="ícone github">
        </a>
        <a href="https://www.instagram.com/victormelkor/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Victor Rodrigues</p>
</footer>